<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bijendra.databinding.sample.databindingsample">
<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleDatabindingActivity"
            android:label="@string/simple" />
        <activity
            android:name=".OneWayActivity"
            android:label="@string/one_way" />
        <activity
            android:name=".ControllingVisibilityActivity"
            android:label="@string/controlling_visibility" />
        <activity android:name=".RecycleViewSampleActivity"
            android:label="@string/recycle_view_sample"
            />
    </application>

</manifest>